client/src/jade/views/log-files/list.jade
content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#filess-table.table.table-hover.table-condensed(cg-busy='busy' ng-table='tableParams')
            tr(ng-repeat="file in $data" ng-click="go(file,$event)")
                td(data-title="'Name'" filter="{ 'name': 'text'}" sortable="'name'")
                    |{{file.name}}
                td(data-title="'Size'")
                    |{{file.size}}
                td
                    btn.btn.btn-danger.btn-xs(ng-click="delete($index,$event)") Delete

client/app/views/log-files/list.html
<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="filess-table" cg-busy="busy" ng-table="tableParams" class="table table-hover table-condensed">
         <tr ng-repeat="file in $data" ng-click="go(file,$event)">
            <td data-title="'Name'" filter="{ 'name': 'text'}" sortable="'name'">{{file.name}}</td>
            <td data-title="'Size'">{{file.size}}</td>
            <td>
               <btn ng-click="delete($index,$event)" class="btn btn-danger btn-xs">Delete</btn>
            </td>
         </tr>
      </table>
   </div>
</content>
