client/app/views/subscriptions/list.html
<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="subscriptions-table" cg-busy="busy" ng-table="tableParams" class="table table-hover table-condensed">
         <tr ng-repeat="subscription in $data" ng-click="go(subscription,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{subscription.id}}</td>
            <td data-title="'Code'" filter="{ 'code': 'text'}" sortable="'code'">{{subscription.code}}</td>
            <td data-title="'Name'" filter="{ 'name': 'text'}" sortable="'name'">{{subscription.name}}</td>
            <td data-title="'Description'" filter="{ 'description': 'text'}">{{subscription.description}}</td>
            <td data-title="'Cost'" filter="{ 'cost': 'number'}" sortable="'cost'">{{subscription.cost|number:2}} {{subscription.currencyCode}} / {{subscription.billingPeriod}}</td>
            <td data-title="'Type'" filter="{ 'type': 'text'}" sortable="'type'">{{subscription.type}}</td>
            <td data-title="'Courtesy'" filter="{ 'courtesy': 'number'}" sortable="'courtesy'">{{subscription.courtesy}}</td>
            <td data-title="'Active'" filter="{ 'active': 'number'}" sortable="'active'">{{subscription.active}</td>
         </tr>
      </table>
   </div>
</content>

client/src/jade/views/subscriptions/list.jade
content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#subscriptions-table.table.table-hover.table-condensed(cg-busy='busy' ng-table='tableParams')
            tr(ng-repeat="subscription in $data" ng-click="go(subscription,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    |{{subscription.id}}
                td(data-title="'Code'" filter="{ 'code': 'text'}" sortable="'code'")
                    |{{subscription.code}}
                td(data-title="'Name'" filter="{ 'name': 'text'}" sortable="'name'")
                    |{{subscription.name}}
                td(data-title="'Description'" filter="{ 'description': 'text'}" )
                    |{{subscription.description}}
                td(data-title="'Cost'" filter="{ 'cost': 'number'}" sortable="'cost'")
                    |{{subscription.cost|number:2}} {{subscription.currencyCode}} / {{subscription.billingPeriod}}
                td(data-title="'Type'" filter="{ 'type': 'text'}" sortable="'type'")
                    |{{subscription.type}}
                td(data-title="'Courtesy'" filter="{ 'courtesy': 'number'}" sortable="'courtesy'")
                    |{{subscription.courtesy}}
                td(data-title="'Active'" filter="{ 'active': 'number'}" sortable="'active'")
                    |{{subscription.active}
