client/app/views/dashboards/dashboard.html
<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <div class="text-center">
         <p>{{description}}</p>
      </div>
   </div>
</content>
<!--.app-view-header//| Dashboard
//small(ng-bind="app.name + ' - ' + app.description")-->

client/src/jade/views/dashboards/dashboard.jade
content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        .text-center
            p {{description}}

//.app-view-header
    //| Dashboard
    //small(ng-bind="app.name + ' - ' + app.description")
