client/src/jade/views/traces/list.jade
content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#traces-table.table.table-hover.table-condensed(cg-busy='busy', ng-table='tableParams', show-filter='userPreferences.tables.showFilter')
            tr(ng-repeat="trace in $data" ng-click="go(trace,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    | {{trace.id}}
                td(data-title="'User Id'" filter="{ 'userId': 'number'}" sortable="'userId'")
                    link-object(object-id='trace.userId',object-name='objectsName.users') {{trace.userId}}
                td(data-title="'Version'" filter="{ 'version': 'text'}" sortable="'version'")
                    | {{trace.version}}
                td(data-title="'Method'" filter="{ 'method': 'text'}" sortable="'method'")
                    | {{trace.method}}
                td(data-title="'Endpoint'" filter="{ 'endpoint': 'text'}" sortable="'endpoint'")
                    | {{trace.endpoint}}
                td(data-title="'Code'" filter="{ 'responseCode': 'number'}" sortable="'responseCode'")
                    | {{trace.responseCode}}
                td(data-title="'Result'" filter="{ 'response': 'text'}" sortable="'response'")
                    span(ng-show="trace.hasResponse") Response
                    span(ng-show="trace.hasException") Exception
                td(data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'", nowrap)
                    | {{trace.createdAt}}

client/app/views/traces/list.html
<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="traces-table" cg-busy="busy" ng-table="tableParams" show-filter="userPreferences.tables.showFilter" class="table table-hover table-condensed">
         <tr ng-repeat="trace in $data" ng-click="go(trace,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{trace.id}}</td>
            <td data-title="'User Id'" filter="{ 'userId': 'number'}" sortable="'userId'">
               <link-object object-id="trace.userId" object-name="objectsName.users">{{trace.userId}}</link-object>
            </td>
            <td data-title="'Version'" filter="{ 'version': 'text'}" sortable="'version'">{{trace.version}}</td>
            <td data-title="'Method'" filter="{ 'method': 'text'}" sortable="'method'">{{trace.method}}</td>
            <td data-title="'Endpoint'" filter="{ 'endpoint': 'text'}" sortable="'endpoint'">{{trace.endpoint}}</td>
            <td data-title="'Code'" filter="{ 'responseCode': 'number'}" sortable="'responseCode'">{{trace.responseCode}}</td>
            <td data-title="'Result'" filter="{ 'response': 'text'}" sortable="'response'">
               <span ng-show="trace.hasResponse">Response</span>
               <span ng-show="trace.hasException">Exception</span>
            </td>
            <td data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'" nowrap="nowrap">{{trace.createdAt}}</td>
         </tr>
      </table>
   </div>
</content>
