client/src/jade/views/traces/view.jade
content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{trace.id}}
            dt Agent
            dd {{trace.agent}}
            dt Version
            dd {{trace.version}}
            dt Client IP
            dd {{trace.clientIp}}
            dt Proxy IP
            dd {{trace.proxy}}
            dt User Id
            dd {{trace.userId}}
            dt Token Id
            dd {{trace.tokenId}}
            dt Method
            dd {{trace.method}}
            dt Endpoint
            dd {{trace.endpoint}}
            dt Response Code
            dd {{trace.responseCode}}
            dt Result
            dd
                span(ng-show="trace.hasResponse") Response
                span(ng-show="trace.hasException") Exception
            dt Response
            dd
                pre {{trace.response|json}}
            dt Exception
            dd
                pre {{trace.exception|json}}
            dt Var GET
            dd
                pre {{trace.varGet|json}}
            dt Var POST
            dd
                pre {{trace.varPost|json}}
            dt Var Body
            dd
                pre {{trace.varBody|json}}
            dt Created At
            dd {{trace.createdAt}}

client/app/views/users/view.html
<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{user.id}}</dd>
         <dt>Name</dt>
         <dd>{{user.name}}</dd>
         <dt>Email</dt>
         <dd>{{user.email}}</dd>
         <dt>Locale</dt>
         <dd>{{user.locale}}</dd>
         <dt>Timezone</dt>
         <dd>{{user.timezone}}</dd>
         <dt>Referral Link</dt>
         <dd>{{user.referralLink}}</dd>
         <dt>Business</dt>
         <dd>
            <link-object object="user.accountInfo">{{user.accountInfo.companyName}} ({{user.accountInfo.id}})
            </link-object>
         </dd>
         <dt>Active Business</dt>
         <dd>
            <link-object object="user.activeBusinessUsers">({{user.activeBusinessUsers.businessId}})</link-object>
         </dd>
         <dt>Linked Businesses</dt>
         <dd ng-repeat="bu in user.businessUsers">
            <link-object object="bu">({{bu.businessId}})</link-object>
         </dd>
         <dt>Subscription</dt>
         <dd>
            <link-object object="user.subscription">{{user.subscription.name}}</link-object>
         </dd>
         <dt>Created At</dt>
         <dd>{{user.createdAt}}</dd>
         <dt>Updated At</dt>
         <dd>{{user.updatedAt}}</dd>
      </dl>
      <pre>{{user|json}}</pre>
   </div>
</content>
