client/src/jade/views/discounts/list.jade
content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#discounts-table.table.table-hover.table-condensed(cg-busy='busy' ng-table='tableParams')
            tr(ng-repeat="discount in $data" ng-click="go(discount,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    |{{discount.id}}
                td(data-title="'Description'" filter="{ 'description': 'text'}" )
                    | {{discount.description}}
                td(data-title="'Code'" filter="{ 'code': 'text'}" sortable="'code'")
                    |{{discount.code}}
                td(data-title="'Active'" filter="{ 'active': 'number'}" sortable="'active'")
                    | {{discount.active}}
                td(data-title="'Percentage'" filter="{ 'percentage': 'number'}" sortable="'percentage'")
                    |{{discount.percentage|number:2}}%
                td(data-title="'Deleted'" filter="{ 'deleted': 'number'}" sortable="'deleted'")
                    |{{discount.deleted}}
                td(data-title="'CreatedAt'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    |{{discount.createdAt}}
                td(data-title="'CreatedAt'" filter="{ 'updatedAt': 'text'}" sortable="'updatedAt'")
                    |{{discount.updatedAt}}

client/app/views/discounts/list.html
<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="discounts-table" cg-busy="busy" ng-table="tableParams" class="table table-hover table-condensed">
         <tr ng-repeat="discount in $data" ng-click="go(discount,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{discount.id}}</td>
            <td data-title="'Description'" filter="{ 'description': 'text'}">{{discount.description}}</td>
            <td data-title="'Code'" filter="{ 'code': 'text'}" sortable="'code'">{{discount.code}}</td>
            <td data-title="'Active'" filter="{ 'active': 'number'}" sortable="'active'">{{discount.active}}</td>
            <td data-title="'Percentage'" filter="{ 'percentage': 'number'}" sortable="'percentage'">{{discount.percentage|number:2}}%</td>
            <td data-title="'Deleted'" filter="{ 'deleted': 'number'}" sortable="'deleted'">{{discount.deleted}}</td>
            <td data-title="'CreatedAt'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'">{{discount.createdAt}}</td>
            <td data-title="'CreatedAt'" filter="{ 'updatedAt': 'text'}" sortable="'updatedAt'">{{discount.updatedAt}}</td>
         </tr>
      </table>
   </div>
</content>
