client/src/jade/views/businesses/list.jade
content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#businessses-table.table.table-hover.table-condensed(cg-busy='busy', ng-table='tableParams',show-filter='userPreferences.tables.showFilter')
            tr(ng-repeat="business in $data" ng-click="go(business,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    | {{business.id}}
                td(data-title="'Industry'" filter="{ 'industryMain': 'text'}" sortable="'industryMain'")
                    | {{business.industryMain.name}}
                td(data-title="'Name'" filter="{ 'companyName': 'text'}" sortable="'companyName'")
                    | {{business.companyName.name}}
                td(data-title="'Sector'" filter="{ 'industrySector': 'text'}" sortable="'industrySector'")
                    | {{business.industrySector.name}}
                td(data-title="'Size'" filter="{ 'fteSize': 'text'}" sortable="'fteSize'")
                    | {{business.fteSize.name}}
                td(data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    | {{business.createdAt}}

client/app/views/businesses/list.html
<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="businessses-table" cg-busy="busy" ng-table="tableParams" show-filter="userPreferences.tables.showFilter" class="table table-hover table-condensed">
         <tr ng-repeat="business in $data" ng-click="go(business,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{business.id}}</td>
            <td data-title="'Industry'" filter="{ 'industryMain': 'text'}" sortable="'industryMain'">{{business.industryMain.name}}</td>
            <td data-title="'Name'" filter="{ 'companyName': 'text'}" sortable="'companyName'">{{business.companyName.name}}</td>
            <td data-title="'Sector'" filter="{ 'industrySector': 'text'}" sortable="'industrySector'">{{business.industrySector.name}}</td>
            <td data-title="'Size'" filter="{ 'fteSize': 'text'}" sortable="'fteSize'">{{business.fteSize.name}}</td>
            <td data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'">{{business.createdAt}}</td>
         </tr>
      </table>
   </div>
</content>
